.education {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.education__container {   
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 10px;
}

.education__header {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.education__input {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 7px;
    grid-column: span 2;
    
}

.education__date {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 7px;
    width: auto;
}

.dateSpan {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 90px 1fr;
}

.dateLabel {
    margin: auto;
}

.education__addBtn {
    border-radius: 5px;
    color: white;
    background-color: grey;
}

.education__deleteBtn {
    border-radius: 5px;
    color: white;
    background-color: rgb(241, 77, 77);
}


