.personalInfo {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.personalInfo__header {
    font-size: 1.2rem;
    margin-left: 10px;    
    margin-top: 10px;
    margin-bottom: 0;

}
.personalInfo__container { 
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 10px;
}

.personalInfo__input {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 7px;
    grid-column: span 2;
}

.personalInfo__input:focus-visible {
    outline: none;
  }

.personalInfo__submitBtn {
    grid-column: span 2;
    border-radius: 5px;
    color: white;
    background-color: grey;
}

@media screen and (max-width: 539px) {
    .personalInfo__container { 
        display: grid;
        grid-gap: 9px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        padding: 10px;
    }
    .personalInfo__submitBtn {
        grid-column: span 1;
        border-radius: 5px;
        color: white;
        background-color: grey;
    }      
}