.resume {
    border-radius: 5px;
    width: 550px;
    height: 758.91px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90px 1fr;
    background-color: white;
}

.resume__nameTitleContainer {
    background-color: rgb(109, 109, 148);
    padding-left: 10px;
    padding-top: 15px;
}

    .resume__name {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: white;
    }

    .resume__title {
        margin-top: 2px;
        font-size: 1.3rem;
        color: white;
    }

.resume__body {
    display: grid;
    grid-template-columns: 1fr 170px;
    
}

.resume__sectionTitle {
    margin: 0;
    padding: 0;
    border-bottom: .5px solid rgb(182, 180, 180);
}

.resume__edAndExpContainer {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.resume__personalInfoContainer {
    background-color: darkgray;
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    
}
    .resume__personalItems {
        margin: 8px 2px 10px 1px;
        font-size: .8rem;
        width: 9rem;
    }
    .resume__personalSectionTitle {
        border-bottom: 1px solid white;
        padding: 0;
        margin: 20px 2px 20px 1px;
    }
    .resume__userPhoto {
        margin-left: auto;
        margin-right: auto;
        width: 145px;
        height: auto;
    }

    .resume__emailRender{
        overflow-wrap: break-word;
    }
    .resume__minorSectionTitle {
        margin: 8px 2px 10px 1px;
        font-size: .9rem;
        padding: 0;
    }
.resume__renderedExpItemContainer{
    margin-top: 5px;
    padding: 3px;
    display: flex;
    
    
}
    .resume__renderedExpFromTo{
        display: flex;
        padding-right: 50px;
        flex-direction: column;
        align-items: center;
        font-size: .7rem;
        font-weight: 600;
    }
    .resume__renderedExpPrevJob {
        display: flex;
        align-self: center;
        font-size: .9rem;
    }

.resume__renderedEdItemContainer {
    margin-top: 5px;
    padding: 3px;
    display: flex;
    
    
}
    .resume__edItemFromTo {
        display: flex;
        padding-right: 50px;
        flex-direction: column;
        align-items: center;
        font-size: .7rem;
        font-weight: 600;
    }
    .resume__edItemUniDegreeSubject{
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }
@media screen and (max-width: 745px) {
    .resume {
        width: 500px;
        height: 716px;
    }
}