* {
    font-family: 'Roboto', sans-serif;
}

.app {
    
    display: grid;
    grid-template-rows:  auto;
    min-height: 834px;
    
}

.app__headerContainer {
    height: 60px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.app__header {
    font-size: 2.5rem;
    padding: 7px 0; 
    text-align: pad
}

.app__body {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-self: center;
    align-items: center;
    height: 90vh;
}

.app__entryContainer {
    margin: 10px 35px 11px 0;
    background-color: rgb(155, 154, 154);
    border-radius: 5px;

    max-width: 720px;
    display: flex;
    flex-direction: column;
 
}
.app__renderContainer {
    margin: 10px 0 11px 35px;
    background-color: rgb(165, 237, 126);
    border-radius: 5px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
 
}

@media screen and (max-width: 1170px) {
    .app__body {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 125vh;
        
    }
    .app__entryContainer {
        background-color: rgb(231, 84, 84);
        width: 550px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
   
        
    }
    .app__renderContainer {
        background-color: rgb(162, 241, 143);
        width: 550px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
   
        
    }
    
    
}
@media screen and (max-width: 745px) {
    .app__body {
        display: flex;
        flex-direction: column;
        height: 120vh;

        
    }
    .app__entryContainer {
        background-color: rgb(231, 84, 84);
        max-width: 725px;
        width: auto;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0; 
    }
    .app__renderContainer {
        background-color: rgb(162, 241, 143);
        max-width: 725px;
        width: auto;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0; 
        margin-bottom: 40px;
    }
    
    
}

